[submodule "keychron-qmk"]
	path = keychron-qmk
	url = git@github.com:apedley/qmk_firmware.git
	branch = bluetooth_playground
  ignore = dirty
[submodule "qmk_mk47"]
	path = qmk
	url = https://github.com/apedley/qmkmk47
  ignore = dirty
[submodule "vial"]
	path = vial
	url = git@github.com:apedley/vial-qmk.git
	branch = vial-original
